@font-face {
    font-family: Outfit-Light;
    src: url('../fonts/Outfit/Outfit-Light.woff');
}
@font-face {
    font-family: Outfit-ExtraLight;
    src: url('../fonts/Outfit/Outfit-ExtraLight.woff');
}